/**** ZMIENNE ****/
/* line 5, /Users/magdalenagorecka/GitHub/1704-LP/scss/utilities/_function.scss */
.test {
  width: 33.33333%;
}

/******** MAIN ************/
/* line 6, /Users/magdalenagorecka/GitHub/1704-LP/scss/style.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 12, /Users/magdalenagorecka/GitHub/1704-LP/scss/style.scss */
body {
  margin: 0;
  padding: 0;
  color: #343434;
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 1em;
  line-height: 1.5em;
}

/* line 22, /Users/magdalenagorecka/GitHub/1704-LP/scss/style.scss */
header {
  height: 460px;
  background: linear-gradient(#74D8E8, #FF66F0), url("../img/bg3.jpg") no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  position: relative;
}

/* line 28, /Users/magdalenagorecka/GitHub/1704-LP/scss/style.scss */
header::after {
  content: '';
  display: block;
  width: 100%;
  height: 100px;
  position: absolute;
  transform: skewY(-4deg);
  background-color: #ffffff;
  bottom: -50px;
}

@media screen and (min-width: 768px) {
  /* line 22, /Users/magdalenagorecka/GitHub/1704-LP/scss/style.scss */
  header {
    height: 500px;
  }
}

@media screen and (min-width: 992px) {
  /* line 22, /Users/magdalenagorecka/GitHub/1704-LP/scss/style.scss */
  header {
    height: 550px;
  }
}

/* line 46, /Users/magdalenagorecka/GitHub/1704-LP/scss/style.scss */
header p {
  color: #fff;
}

/* line 50, /Users/magdalenagorecka/GitHub/1704-LP/scss/style.scss */
.header-inner {
  padding: 0.5em 1em;
}

/******** Nav *****************/
/* line 55, /Users/magdalenagorecka/GitHub/1704-LP/scss/style.scss */
.main-nav {
  background-color: #000000;
  padding-top: 10px;
}

/* line 58, /Users/magdalenagorecka/GitHub/1704-LP/scss/style.scss */
.main-nav li {
  display: inline-block;
  margin: 0 0.5em;
}

/* line 63, /Users/magdalenagorecka/GitHub/1704-LP/scss/style.scss */
.main-nav a {
  color: #ffffff;
  font-size: 0.95em;
  text-decoration: none;
  font-weight: 300;
}

/* line 69, /Users/magdalenagorecka/GitHub/1704-LP/scss/style.scss */
.main-nav img {
  padding-top: 10px;
}

/* line 73, /Users/magdalenagorecka/GitHub/1704-LP/scss/style.scss */
ul {
  list-style-type: none;
}

/******* Headings *************/
/* line 78, /Users/magdalenagorecka/GitHub/1704-LP/scss/style.scss */
h1 {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #fff;
  font-family: "Open Sans", serif;
}

@media screen and (min-width: 576px) {
  /* line 78, /Users/magdalenagorecka/GitHub/1704-LP/scss/style.scss */
  h1 {
    font-size: 3em;
    padding-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  /* line 78, /Users/magdalenagorecka/GitHub/1704-LP/scss/style.scss */
  h1 {
    font-size: 3.5em;
    padding-top: 80px;
  }
}

@media screen and (min-width: 992px) {
  /* line 78, /Users/magdalenagorecka/GitHub/1704-LP/scss/style.scss */
  h1 {
    font-size: 4em;
    padding-top: 100px;
  }
}

/* line 97, /Users/magdalenagorecka/GitHub/1704-LP/scss/style.scss */
h2 {
  color: #97ECFF;
  font-family: 'Raleway', sans-serif;
}

/* line 101, /Users/magdalenagorecka/GitHub/1704-LP/scss/style.scss */
button {
  font-family: "Open Sans", serif;
  font-size: 1em;
  font-weight: 600;
  background-color: #db167c;
  color: #ffffff;
  padding: 15px 30px;
  border: 0px #fff solid;
  border-radius: 6px;
}

/***** SECTION *****/
/* line 118, /Users/magdalenagorecka/GitHub/1704-LP/scss/style.scss */
.content {
  margin-top: 50px;
  height: 300px;
}

/* line 123, /Users/magdalenagorecka/GitHub/1704-LP/scss/style.scss */
.content2 {
  margin-top: 50px;
  height: 400px;
  background: linear-gradient(#74D8E8, #655884), url("../img/bg3.jpg") no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  padding: 100px 0;
  transform: skew(0deg, -4deg);
}

/* line 132, /Users/magdalenagorecka/GitHub/1704-LP/scss/style.scss */
.cont-inner {
  padding: 4%;
  transform: skew(0deg, 4deg);
}

/* line 137, /Users/magdalenagorecka/GitHub/1704-LP/scss/style.scss */
.card-holder {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

/* line 144, /Users/magdalenagorecka/GitHub/1704-LP/scss/style.scss */
.card {
  padding: 10px;
}

/****** FEAT *********/
/* line 152, /Users/magdalenagorecka/GitHub/1704-LP/scss/style.scss */
.feat {
  transform: skew(0deg, -4deg);
}

/* line 156, /Users/magdalenagorecka/GitHub/1704-LP/scss/style.scss */
.box-1 {
  background-color: #db165b;
}

/* line 156, /Users/magdalenagorecka/GitHub/1704-LP/scss/style.scss */
.box-2 {
  background-color: #db163a;
}

/* line 156, /Users/magdalenagorecka/GitHub/1704-LP/scss/style.scss */
.box-3 {
  background-color: #db161a;
}

/****** PRESS ********/
/* line 161, /Users/magdalenagorecka/GitHub/1704-LP/scss/style.scss */
.press {
  min-height: 460px;
  background-color: black;
  color: #ffffff;
  transform: skew(0deg, -4deg);
}

/******* CTA ********/
/* line 169, /Users/magdalenagorecka/GitHub/1704-LP/scss/style.scss */
.cta {
  padding: 20px 0;
}

/***** FOOTER ******/
/* line 174, /Users/magdalenagorecka/GitHub/1704-LP/scss/style.scss */
footer {
  padding: 1.7em 0 1.7em 0;
  height: 100px;
  background-color: #ffffff;
  margin-top: 3.5em;
  position: relative;
}

/* line 180, /Users/magdalenagorecka/GitHub/1704-LP/scss/style.scss */
footer::before {
  content: '';
  display: block;
  width: 100%;
  height: 50px;
  position: absolute;
  transform: skewY(2deg);
  top: -25px;
}

/*# sourceMappingURL=../css/style.map */