/**** ZMIENNE ****/
$color-primary: #fff;
$color-secondary: #ffcc66;
$color-accent: #db167c;

$color-text: #343434;

$color-bg-light: #74D8E8;
$color-bg: #FF66F0;
$white:#fff;


/******** MAIN ************/
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  margin:0;
  padding:0;
  color: #343434;
  font-family: "Raleway", sans-serif;
  text-align: center;
  line-height: 2em;
}

header {
  height: 460px;
  background: linear-gradient($color-bg-light, $color-bg), url('../img/bg3.jpg') no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  position: relative;
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 50px;
    position: absolute;
    transform: skewY(-2deg);
    background-color: $white;
    bottom: -25px;
  }
}
.header-inner{
  padding: 0.5em 1em;
}

/******** Nav *****************/
.main-nav{
  padding-top: 10px;
  li{
    display: inline-block;
    margin: 0 0.5em;

  }
  a{
    color:$white;
    font-size:0.95em;
    text-decoration: none;
    font-weight: 300;

  }

}
ul{
  list-style-type: none;
}
/******* Headings *************/

h1{
  padding-top: 20px;
  color:$color-primary;
}

h2{
  color:$color-secondary;
}

/***** SECTION *****/

section{
  max-width:1000px;
}

.col2{

}
.card{
   display:flex;
   flex-direction: column;

}

/***** FOOTER ******/
footer{
  padding: 2em 0 0;
  height: 100px;
  background-color: $color-bg;
  margin-top: 3.5em;
  position: relative;
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 50px;
    position: absolute;
    transform: skewY(2deg);
    background-color: $color-bg;
    top: -25px;
  }
}

/* MEDIA QUERIES ************************/
/********** 480px ***********/
@media screen and (min-width:480px) {
  h1{
    font-size:1.5em;
  }
}

/*********** 768px ***********/
@media screen and (min-width:768px) {
  h1{
    font-size:1.75em;
  }
}
/*********** 992px ***********/
@media screen and (min-width:992px) {
  h1{
    font-size:4em;
    padding-top: 100px;
    padding-bottom: 40px;
  }
}
