
//Partial import
@import 'partials/var', 'utilities/function.scss';

/******** MAIN ************/
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  margin:0;
  padding:0;
  color: #343434;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

header {
  height:450px;
  background: linear-gradient($color-bg-light, $color-bg), url('../img/bg3.jpg') no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  perspective: 1px;
 &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100px;
    position: absolute;
    transform: skewY(-4deg);
    background-color: $white;
    bottom: -50px;
  }
  @media screen and (min-width:$break-s){
    }
  @media screen and (min-width:$break-m) {
      height:500px;
    }
  @media screen and (min-width:$break-l) {
      height:600px;
    }
  p{
    color:#fff;
  }
}
.header-inner{
  height: 600px;
}
.parallax{
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}

/******** Nav *****************/
.main-nav{
  background-color: #000000;
  position:fixed;
  width:100%;
  z-index:1;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 15px;
  li{
    display: inline-block;
    margin: 0 1em;
  }
  a{
    color:$white;
    font-size:0.95em;
    text-decoration: none;
    font-weight: 300;
  }
  img{
    padding-top:10px
  }
}
ul{
  list-style-type: none;
}
/******* Headings *************/
h1, h2, h3, h4, h5{
  text-transform: uppercase;
}
h1{
  padding-top: 40px;
  padding-bottom: 40px;
  color:$color-primary;
  font-family:$font-h;
  @media screen and (min-width:$break-s){
      font-size:3em;
      padding-top:60px;
    }
  @media screen and (min-width:$break-m) {
      font-size:3.5em;
      padding-top: 80px;
    }
  @media screen and (min-width:$break-l) {
      font-size:3em;
      line-height: 1em;
      padding-top: 200px;
      text-align: center;
    }
}

h2{
  color:$color-secondary;
  font-family: 'Raleway', sans-serif;
  font-size: 1.75em;
  font-weight: 800;
  margin: 0 0 20px;
  text-align: center;
}
h3{
  color:$color-secondary;
}
h4{
  color:$color-secondary;
}
button{
  font-family: $font-h;
  font-size:1em;
  font-weight:600;
  background-color: $color-accent;
  color:$white;
  padding:15px 30px;
  border:0px #fff solid;
  border-radius: 6px;
}

/***** SECTION *****/

.content{
  margin-top: 50px;
  height: 300px;
  }

.content2, .content3{
    margin-top: 50px;
    height: 400px;
    background-blend-mode: multiply;
    background-size: cover;
    padding: 100px 0;
    transform: skew(0deg,-4deg);
    }
    .content2{
      background: linear-gradient($color-bg-light, $color-bg-bottom), url('../img/bg3.jpg') no-repeat;
    }
    .content3{
        background: linear-gradient($color-bg-light, $color-bg-bottom), url('../img/bg4.png') no-repeat;
        }
.cont-inner{
    width:100%;
    padding: 2% 10%;
    transform: skew(0deg,4deg);
  }
  .card-holder{
    padding-top:20px;
    padding-bottom:20px;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
  }
.card{
   padding:10px;
   img{
     height:5em;
     width:5em;
   }
   img:hover{
     transform: rotate(-20deg);
   }

   @media screen and (min-width:$break-m) {
     }
}
/****** FEAT *********/
.feat{
  transform: skew(0deg,-4deg);
}
@for $i from 1 through 3{
  .box-#{$i}{
    background-color: adjust-hue(#db167c, $i*10);
  }
}
/****** PRESS ********/

.disc{
  min-height:460px;
  background-color: black;
  color:$white;
  transform: skew(0deg,-4deg);
  h2{
    margin: 1em 0 2em;
  }
}
.flex{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-content:center;
  align-items:center ;
}
.photo-container {
	text-align: center;
  flex: 1 100%;
  justify-content: space-between;
  @media screen and (min-width:$break-m) {
    flex: 1 50%;
    }
  @media screen and (min-width:$break-l) {
    flex: 1 30%;
    }
  @media screen and (min-width:$break-xl) {
    flex: 1 25%;
    }
}

.photo {
	position: relative;
	line-height: 0;
	margin-bottom: 2em;
	overflow: hidden;
  img {
   	max-width: 100%;
    transform-origin: 0 0;
  }
}
.photo-overlay {
	color: #fff;
	position: absolute;
	overflow: hidden;
	top:0;
	right:0;
	left:0;
	bottom:0;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0, .65);
	p {
		margin: 0;
	}
}
.photo:hover .photo-overlay{
	left:0;
	top:0;
}
.photo-overlay{
	left:-200%;
	top:0;
  opacity:0;
  transition-duration: .6s;
}
.photo-overlay:hover {
  opacity:1;
}

.photo:hover img{
  transition: transform .4s ease-out;
  transform: scale(1.3);
}


/******* CTA ********/
.cta{
  padding-top:100px;
    text-align: center;
    img{
      width:40px;
      height:40px;
      margin:2em 1em 0 0;
    }
}

/***** FOOTER ******/
footer{
  padding: 1.7em 0 .5em 0;
  height: 100px;
  background-color: $white;
  margin-top: 2.5em;
  position: relative;
    text-align: center;
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 50px;
    position: absolute;
    transform: skewY(2deg);
    top: -25px;
  }
}
.copy{
  font-size:0.85em;
  margin-top:20px;
}
