/**** ZMIENNE ****/
$color-primary: #3f0f3d;
$color-secondary: #3f0f3d;
$color-accent: #CB30c5;

$color-text: #343434;

$color-bg-light: MidnightBlue;
$color-bg: Crimson;
$color-bg-bottom: #655884;
$white:#ffffff;

$font-h: 'Open Sans',serif;

// Breakpoints
//poitret phones (default size)
$break-xs: 575px;
//landscape phones
$break-s: 576px;
//tablet
$break-m: 768px;
//desktop
$break-l: 992px;
//large desktop
$break-xl: 1200px;
