/**** ZMIENNE ****/
$color-primary: #fff;
$color-secondary: #343434;
$color-accent: #db167c;

$color-text: #343434;

$color-bg-light: #74D8E8;
$color-bg: #FF66F0;
$color-bg-bottom: #655884;
$white:#ffffff;

$font-h: 'Open Sans',serif;

// Breakpoints
//poitret phones (default size)
$break-xs: 575px;
//landscape phones
$break-s: 576px;
//tablet
$break-m: 768px;
//desktop
$break-l: 992px;
//large desktop
$break-xl: 1200px;
